* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background: url(./assets/images/main.jpg);
  margin: 0;
  padding: 0;
}

/* ************ MAIN CONTENT STYLE *************/
.mainContent {
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  word-wrap: break-word;
  text-decoration: none;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 14px;
}

.footer {
  background-color: #191919;
  color: white;
  display: flex;
  width: 100%;
}

.footer-copyright {
  padding: 15px;
  position: relative;
  display: flex;
}

/* ************* NAVIGATION********** */
nav {
  width: 100%;
  margin: 0;
  height: auto;
  background-color: #191919dd;
}

.navTitle {
  padding: 8px;
  text-align: center;
  display: flex;
  color: white;
  background-image: linear-gradient(94.3deg, rgb(16, 17, 20) 10.9%, rgb(36, 37, 39) 87.1%);
  margin: 0;
}

.navTitle h4 {
  align-items: center;
  padding: 10px;
  font-size: 15px;
}

.navlist {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 5px;
  margin: 0
}

.navitems a {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #f4f0f4;
  cursor: pointer;
  padding: 15px;
  text-align: center;
}

.navitems {
  padding: 10px 15px;
  width: 100%;
  text-align: center;
}

.navitems a:hover {
  background-color: #f4f0f4;
  color: #191919;
  border-radius: 5px;
  font-weight: 550;
}

.navbtn {
  right: 10px;
  top: 10px;
  display: none;
  font-size: 20px;
  position: absolute;
  background: none;
  color: white;
  border: none;
}

@media screen and (max-width: 600px) {
  .navlist {
    flex-direction: column;
    height: auto;
    background-color: #373737;
  }

  .navitems:nth-child(1) {
    border-top: 1px solid rgba(255, 255, 255, 0.555);
  }

  .navitems {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    margin-right: 0px;
    padding: 15px 20px;
  }

  .navbtn {
    display: block;
  }

}

/* *********** HOME PAGE*********** */
.div-section{
  background: url("/src/assets/images/campus.png");
 width: 100%;
 background-size: cover;
 background-repeat: no-repeat;
 height: 80vh;
}
.hero {

  background-color: #00000086;
  padding: 20px;
  color: rgb(255, 255, 255);
  line-height: 40px;
  padding: 70px 90px;
  text-align: center;
  height: 80vh;
}
.hero h2 {
  font-size: 35px; 
  padding-top: 100px;
}
.hero p {
  font-size: 22px;
  font-weight: 100;
  margin-bottom: 20px; 
}

.col-chat {
  float: left;
  width: 33.33%;
}
.row-chat{
  margin-top: 30px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
}
 
@media screen and (max-width: 600px) {
  .col-chat {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .hero{
    height: 100vh
  }
  .div-section{
    height: auto;
  }

}

/* react-kit */
.react-chatbot-kit-user-chat-message-container {
  display: flex;
  margin: 15px 0;
  justify-content: flex-end;
}

.react-chatbot-kit-user-avatar-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 12.5px;
  background-color: #ce9e25;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-chatbot-kit-user-avatar-icon {
  fill: #fff;
  width: 15px;
  height: 15px;
}

.react-chatbot-kit-user-chat-message {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  color: #585858;
  font-weight: medium;
  position: relative;
  text-align: left;
}

.react-chatbot-kit-user-chat-message-arrow {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #f1f1f1;
  position: absolute;
  right: -7px;
  top: 13px;
}

.react-chatbot-kit-chat-bot-message-container {
  display: flex;
  margin: 15px 0;
  justify-content: flex-start;
}

.react-chatbot-kit-chat-bot-avatar-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 12.5px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-chatbot-kit-chat-bot-avatar-icon {
  width: 45px;
  margin-left: 10px;
}

.react-chatbot-kit-chat-bot-message {
  padding: 12px;
  border-radius: 5px;
  color: #fff;
  position: relative;
  width: 50%;
  text-align: left;
}

.react-chatbot-kit-chat-bot-message-arrow {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #2898ec;
  position: absolute;
  left: -7px;
  top: 13px;
}

.react-chatbot-kit-chat-bot-loading-icon-container {
  height: 17px;
  width: 25px;
}

.chatbot-loader-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

#chatbot-loader #chatbot-loader-dot1 {
  animation: load 1s infinite;
}

#chatbot-loader #chatbot-loader-dot2 {
  animation: load 1s infinite;
  animation-delay: 0.2s;
}

#chatbot-loader #chatbot-loader-dot3 {
  animation: load 1s infinite;
  animation-delay: 0.4s;
}

@keyframes load {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.react-chatbot-kit-chat-container {
  position: relative;
  width: 100%;
  height: 95vh;
}

.react-chatbot-kit-chat-inner-container {
  background-color: #fff;
  border-radius: 3px;
  border-radius: 5px;
}

.react-chatbot-kit-chat-header {
  display: flex;
  align-items: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  justify-content: space-between;
  padding: 10px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #ffffff;
  background-color: #9b0000;
  font-family: Arial;
}

.react-chatbot-kit-chat-header-name {
  color: #ffffff;
  padding-left: 10px;
}

.react-chatbot-kit-chat-header-btn a {
  text-decoration: none;
  margin-left: 15px;
  color: #ffffff;
}

.react-chatbot-kit-chat-message-container {
  overflow: scroll;
  height: 82vh;
}

.react-chatbot-kit-chat-input {
  width: 100%;
  padding: 12.5px;
  font-size: 0.85rem;
  border: 1px solid #848484;
  border-bottom-left-radius: 5px;
}

.react-chatbot-kit-chat-input-form {
  width: 100%;
  display: flex;
}

.react-chatbot-kit-chat-input::placeholder {
  color: #585858;
}

.react-chatbot-kit-chat-btn-send {
  width: 100px;
  border: none;
  color: #fff;
  border-bottom-right-radius: 5px;
}

.react-chatbot-kit-chat-btn-send-icon {
  fill: #fff;
  width: 15px;
  margin: 0 auto;
}

.react-chatbot-kit-error {
  background-color: #fff;
  border-radius: 3px;
  padding: 15px;
}

.react-chatbot-kit-error-container {
  width: 260px;
}

.react-chatbot-kit-error-header {
  font-size: 1.3rem;
  color: #1d1d1d;
  margin-bottom: 30px;
}


/* *********** CUSTOMIZED CHAT BUBBLE ******************/
.chatTitle {
  font-weight: 600;
}

.nobubble {
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(240, 240, 240);
  word-break: break-word;
  margin-left: 20px;
  background-color: #f3f3f3;
  border-radius: 20px;
  padding: 15px 20px;
  width: 80%;
}

.nobubble h4 {
  font-weight: 550;
}

.nobubble p,
h4,
li {
  margin: 0;
}

.admin h4 {
  font-weight: 600;
}

/* *********(PUP ORGANIZATION )*********** */
.orgbubble {
  border-radius: 20px;
  padding: 15px 20px;
  box-shadow: 5px 5px 10px lightgray;
  margin-left: 20px;
  background-color: #f3f3f3;
  width: 90%;
}

.orgSlide {
  padding: 10px;
  text-align: center;
  display: flex;
  overflow-x: scroll;
  border-radius: 5px;
}

.orgSlide::-webkit-scrollbar {
  width: 20px;
}

.orgSlide .orgPage {
  padding: 10px;
  background-color: #fcf6f6;
  border: 1px solid rgb(192, 192, 192);
  margin-right: 5px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  text-align: center;
  width: unset;
}

.orgName {
  padding: 10px;
}

.orgBtn {
  padding: 10px;
}

.orgFb {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: maroon;
}

.orgFb:hover {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: mistyrose;
}

.orgFb a {
  text-decoration: none;
  color: #fcf6f6
}

.orgFb a:hover {
  color: #191919;
  font-weight: 550;
}

@media screen and (max-width: 600px) {
  .orgbubble, .nobubble {
    width: 280px;
  }

  .orgPage {
    display: inline-block;
    min-width: 200px;
    max-width: 90%;
  }

}


.postHeader {
  padding: 10px 15px;
  background-image: linear-gradient(#ffda76, #eec45a);
  border-bottom: 3px solid maroon;
  font-weight: 550;
}

/* *************************** HOME ******************************* */
/* HOME - GET STARTED */
.chat-btn {
  background: maroon;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  box-shadow: 5px 5px 5px gray;
  padding: 12px;
  width: 50%;
}

.chat-btn:hover {
  background-color: mistyrose;
  border: 2px solid maroon;
  font-size: 20px;
  color: maroon;
}

.chat-btn h3 {
  color: white;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chat-btn h3:hover {
  color: maroon;
  font-weight: 700;
}

.bot-info {
  padding: 5px 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.col-home {
  float: left;
  width: 50%;
  position: relative;
  padding: 10px 12px;
}

.row-home:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-home {
    width: 100%;
  }

  .navTitle {
    display: none;
  }
}


/************* ANNOUNCEMENTS ************* */
.announce {
  overflow-y: scroll;
  height: 65vh;
}

.pageHeader {
  font-weight: 700;
  background-color: #c5283d;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  margin: 10px;
}

a.moreLink {
  word-wrap: break-word;
}

.announcementInfo p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: normal;
}

/* **************************** EVENTS *************************** */
.contactInfo {
  background-color: cornsilk;
  padding: 20px 35px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 5px 5px 5px gray;
}

.contactInfo h4 {
  font-size: 20px;
  font-weight: 550;
  text-align: center;
}

.contactInfo p {
  font-size: 15px;
  color: black;
}

.contactInfo a {
  color: black;
  text-decoration: NONE;
}

.contactInfo a:hover {
  color: maroon;
  font-weight: 550;
}


/*************************  COURSE PAGE *************************/
/* CardComponent Styles */
.cardsss {
  box-shadow: 5px 5px 5px gray;
}

.cardHeader {
  padding: 12px;
  text-align: center;
  font-weight: 550;
  text-transform: uppercase;
  background-image: linear-gradient(#ffda76, #eec45a);
}

/* COURSE CARD */
.card {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.col-courses {
  width: 33%;
  position: relative;
}

.row {
  margin: 0;
  padding: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.moreInfo,
.date {
  font-size: 13px;
  padding-left: 10px;
  color: dimgray;
}

.courseInfo p {
  font-weight: 700;
  font-size: 15px;
}

@media screen and (max-width: 600px) {
  .col-courses {
    width: 100%;
  }
}


/* *******************DOWNLOAD APP****************** */
.logo {
  width: 150px;
  padding-bottom: 10px;
  position: relative;
  text-align: center;
}

.chatCard li {
  text-align: start;
}

.appHeader {
  text-align: center;
  padding: 15px;
}

.appDL a {
  text-decoration: none;
  color: white;
}

.appDL {
  background: maroon;
  width: 40%;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  box-shadow: 5px 5px 5px gray;
}

.download-area {
  width: 100%;
  padding-bottom: 10px;
  position: relative;
  text-align: center;
}

.gallery {
  position: relative;
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  height: 100px;
}

th {
  background-image: linear-gradient(#ffda76, #eec45a);
  color: black;
  padding: 10px;
}

td {
  text-align: center;
  padding: 10px;
  text-align: left;
}

td h4 {
  color: maroon;
  font-weight: 600;
}

tr {
  background-color: whitesmoke;
  text-align: center;
}

.app-info ul {
  text-align: left;
}

.chipDivider {
  font-weight: 700;
  letter-spacing: 1px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 20px;
}


/* ***************** ABOUT APP ********************* */
.about {
  padding: 10px;
  text-align: center;
  border: 2px solid black;
  background-color: darkgray;
}

.appInfo h4 {
  font-weight: 700;
}

.appInfo p {
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .divSection {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
  }
}

.divSection {
  padding: 15px 20px;
}

.appLogo {
  width: 100px;
}

.feedback-btn {
  background: maroon;
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  box-shadow: 5px 5px 5px gray;
}

.feedback-btn:hover {
  background-color: rgb(237, 198, 198);
}

.feedback-btn a {
  color: #ffffff;
}

.feedback-btn a:hover {
  color: #000000;
}